import s from './style.module.css'

<section class=s.section>
    <div class=s.card>
        <div key="content" class=s.content>
            <div class=s.front>
                <img src=state.images[state.activeImage] />
            </div>
        </div>
    </div>
</section>