import s from "./style.module.css";

<section class=s.section>
    <div class=s.card>
        <div key="content" class=s.content>
            <for|image, index| of=state.images>
                $ const isActive = index === state.activeImage;
                <div class=s.front data-active=isActive aria-hidden=!isActive>
                    <img src=image alt="">
                </div>
            </for>
        </div>
    </div>
</section>
