.section {
  padding: 2rem;
}

.dialog {
  --gutter: 1rem;

  padding: var(--gutter);
  padding: 0;
  outline: unset;
  border: unset;
  background: unset;
  max-width: 100vw;
  max-height: 100vh;

  &::backdrop {
    background: black;
    opacity: 0.75;
  }

  .target {
    width: 100%;

    img {
      max-height: calc(100vh - 2 * var(--gutter));
    }
  }

  .square {
    width: 100%;
  }
}

.trigger {
  all: unset;
  outline: revert;
  width: 200px;

  .target {
    width: 100%;
  }
}

.target {
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    aspect-ratio: 4/5;
    /* vertical-align: bottom; */
  }
}

.square {
  background: red;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
