<div.container>
  <main>
    <ol>
      <li><a href="/waapi-card-flip">WAAPI Card Flip</a></li>
      <li><a href="/vt-dialog">View Transition Dialog</a></li>
    </ol>
  </main>
</div>

style {
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}